.wrap {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.clear {
  position: absolute;
  right: 0;
  bottom: 12px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms;
}

.clear.hidden {
  opacity: 0;
}
